body {
    font-family: 'Nabla', cursive;
    min-height: 854px;
    background-image: url('https://pokemonrevolution.net/forum/uploads/monthly_2021_03/DVMT-6OXcAE2rZY.jpg.afab972f972bd7fbd4253bc7aa1cf27f.jpg');
    background-color: #000000;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
    /* overflow: hidden; */
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 25px 0;
    font-size: 3rem;
}

button {
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    opacity: 0.8;
}

h2 {
    color: white;
    margin: auto;

}

#atributosOponente {
    font-family: 'Nabla', cursive;
    text-align: center;
    margin: auto;
}

img {
    animation: scale 3s infinite;

}

#btnSortear {
    margin: auto;
}

#carta-jogador {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}



.opcoes {
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}


#resultado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    padding: 0 0 20px 0;
}

#reiniciar {
    display: none;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#teste {
    height: 25px;
    width: 25px;
    background-color: white;
    transition: 0.3s;
    animation: teste 2s infinite;
}

#pokemonSorteado {
    display: none;
    float: left;
    font-size: 2rem;
    width: 0%;
    position: relative;
    bottom: 45vh;
}

#pokemonBotSorteado {
    display: none;
    float: right;
    font-size: 2rem;
    width: 0%;
    margin-right: 150px;
    position: relative;
    bottom: 40vh;
}

#pokemonIcon {
    background: url(https://cdn1.iconfinder.com/data/icons/pokemon-set/24/Charizard-512.png);
    height: 250px;
    width: 250px;
}

@keyframes scale {
    0% {
        transform: scale(1)
    }


    50% {
        transform: scale(0.8)
    }


    100% {
        transform: scale(1)
    }

}

@keyframes teste {
    0% {}

    100% {}
}


@media screen and (min-width: 768px) {}